<section class="align-center">

  <section class="row align-middle">
    <div class="small-12 medium-4 column">
      <div name="person" class="card person row">
        <h3 class="name small-12">Demian</h3>
      </div>
    </div>
    <div class="small-12 medium-2 column">
      <span class="value small-12">65.00</span>
      <span class="currency">EUR</span>
      <br>
    </div>
    <div class="small-12 medium-4 column">
      <div name="person" class="card person row">
        <h3 class="name small-12">Patrick</h3>
      </div>
    </div>
    <div class="small-12 medium-2 column">
      <button>Paid</button>
    </div>
  </section>

</section>
