<section class="small-12 column">

  <ng-template #emptySuggestedPayments>
    <p>
      Great! There are no debts. Everything's settled up.
    </p>
  </ng-template>

  <div class="row" *ngIf="compensations.length; else emptySuggestedPayments">
    <ng-template ngFor let-comp let-i="index" [ngForOf]="compensations">
      <section class="small-12 medium-2 column">
        <div class="row">
          <div class="small-12 column">
            From <span class="name">{{comp.payer.name}}</span>
            to <span class="name">{{comp.profiteer.name}}</span>
          </div>
          <div class="small-12 column">
            <h2>
              <span class="currency">{{group.currency}}</span> {{comp.amountDecimal | amountFormat}}
            </h2>
          </div>
          <div class="small-12 column">
            <button [ngClass]="{'success': saved}" (click)="pay(i)">Paid</button>
          </div>
        </div>
      </section>
    </ng-template>
  </div>
</section>
