<section class="align-center">

  <ng-template ngFor let-c let-i="index" [ngForOf]="compensations">
    <section class="row align-middle">
      <div class="small-12 medium-4 column">
        <div name="person" class="card person row">
          <h3 class="name small-12">{{c.payer.name}}</h3>
        </div>
      </div>
      <div class="small-12 medium-2 column suggest-payments-value">
        <span class="value small-12">{{c.amountDecimal | amountFormat}}</span>
        <span class="currency">{{group.currency}}</span>
        <br>
        <img src="assets/next.svg" class="self">
      </div>
      <div class="small-12 medium-4 column">
        <div name="person" class="card person row">
          <h3 class="name small-12">{{c.profiteer.name}}</h3>
        </div>
      </div>
      <div class="small-12 medium-2 column">
        <button>Paid</button>
      </div>
    </section>
    <hr *ngIf="i !== compensations.length-1">
  </ng-template>


</section>
