<section class="overview">
  <h2>Group {{group?.name}} - Edit</h2>

  <form *ngIf="group" (ngSubmit)="saveGroup(groupEditForm)" #groupEditForm="ngForm">
    <div class="row align-bottom">
      <div class="small-12 column">
        <label>Group name
          <input type="text" placeholder="group name" name="group-name" #groupName="ngModel"
                 [(ngModel)]="group.name" required [ngClass]="{'error': groupName.errors?.required}">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 column">
        <label>Currency
          <select name="group-currency" [(ngModel)]="group.currency">
            <option value="chf">chf</option>
            <option value="eur">eur</option>
          </select>
        </label>
      </div>
    </div>

    <fieldset>
      <legend>Members<span class="label add" (click)="addPerson()">+</span></legend>
      <div class="row" *ngFor="let p of group.people; let i = index;">
        <div class="small-10 medium-11 column">
          <input type="text" placeholder="person" [(ngModel)]="p.name" name="person{{i}}" #person="ngModel"
                 required [ngClass]="{'error': person.errors?.required}">
        </div>

        <div class="shrink column align-self-middle">
          <img src="assets/cancel.svg" (click)="deletePerson(i)">
        </div>
      </div>
    </fieldset>

    <div class="small-12 medium-4 column">
      <button type="submit"
              [disabled]="groupEditForm.invalid">
        Save
      </button>
    </div>

    <div class="small-12 medium-4 column">
      <button type="button" class="secondary"
              (click)="onCancel()">
        Cancel
      </button>
    </div>

  </form>

  <div class="small-12 column">
    <label>Very Danger
      <button type="button" class="secondary"
              (click)="delete()">
        Delete Group
      </button>
    </label>
  </div>


  <ng-template #elseBlock>
    Group loading...
  </ng-template>


</section>
