<section class="overview">
  <h2>Group {{group?.name}} - Edit</h2>

  <p class="error">{{response}}</p>

  <form *ngIf="group" (ngSubmit)="saveGroup(groupEditForm)" #groupEditForm="ngForm">
    <div class="row align-bottom">
      <div class="small-12 column">
        <label>Group name
          <input class="big" type="text" placeholder="group name" name="group-name"
                 #groupName="ngModel"
                 [(ngModel)]="group.name" required
                 [ngClass]="{'error': groupName.errors?.required}">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 column">
        <label>Currency
          <select name="group-currency" [(ngModel)]="group.currency">
            <option value="chf">chf</option>
            <option value="eur">eur</option>
          </select>
        </label>
      </div>
    </div>

    <fieldset>
      <legend>People</legend>

      <ng-template #emptyPeopleBlock>
        <p>
          Sad! You don't have any group members. Let's add some!
        </p>
      </ng-template>

      <div *ngIf="group.people.length; else emptyPeopleBlock">
        <div class="row" *ngFor="let p of group.people; let i = index;">
          <div class="small-10 medium-11 column">
            <input type="text" placeholder="Name" [(ngModel)]="p.name" name="person{{i}}"
                   #person="ngModel"
                   required [ngClass]="{'error': person.errors?.required}">
          </div>

          <div class="shrink column align-self-middle">
            <img src="assets/cancel.svg" (click)="deletePerson(i)">
          </div>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="small-12 medium-4 column">
        <button class="add" (click)="addPerson()">
          Add Person
        </button>
      </div>

      <div class="small-12 medium-4 column">
        <button type="submit"
                [disabled]="groupEditForm.invalid || !group.isValid()">
          Save
        </button>
      </div>

      <div class="small-12 medium-4 column">
        <button type="button" class="secondary"
                (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="small-12 column">
        <button type="button" class="error"
                (click)="delete()">
          Delete Group
        </button>
    </div>
  </div>


  <ng-template #elseBlock>
    Group loading...
  </ng-template>


</section>
