$tylr-primary-color: #f9fcff;
$tylr-secondary-color: #848C97;
$tylr-secondary-color-light: #BCBCBC;

$tylr-light-color: #FFFFFF;
$tylr-dark-color: #000000;
$tylr-primary-gradient: linear-gradient(-45deg, #0072ff, #00c6ff);
$tylr-secondary-gradient: linear-gradient(-45deg, #232526, #414345);
$tylr-error-gradient: linear-gradient(-45deg, #9F031B, #F5515F);

$tylr-error-color: #EF615C;
$tylr-success-color: #B8E986;
$tylr-font-family: Dosis, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$tylr-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14);
