$tylr-primary-color: #f9fcff;
$tylr-secondary-color: #848C97;
$tylr-light-color: #FFFFFF;
$tylr-dark-color: #000000;
$tylr-primary-gradient: linear-gradient(-45deg, #0072ff, #00c6ff);
$tylr-secondary-gradient: linear-gradient(-45deg, #232526, #414345);
$tylr-font-family: Dosis, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
