header {
  margin-top: 2em;
  margin-bottom: 2em;

  .logo {
    max-width: 20%;
  }

  .title {
    display: inline-block;
    padding-left: 0.25em;
    margin: 0;
    line-height: 1em;

    font-size: 400%;
    vertical-align: bottom;
    text-align: center;
  }
}

