<header class="row align-center">
  <img class="logo small-3 middle-12 large-12 align-self-middle columns" src="assets/logo.svg">
  <h1 class="title small-9 middle-12 large-12 align-self-middle columns">
    {{title}}
  </h1>
</header>

<article class="welcome row align-center">
  <section class="login small-12 middle-4 large-2 column">
    <span>Already signed up?</span>
    <tylr-group-login></tylr-group-login>
  </section>

  <section class="create small-12 middle-4 large-2 column">
    <span>Create a group to get started:</span>
    <tylr-group-create></tylr-group-create>
  </section>
</article>
<tylr-footer></tylr-footer>
