<form class="payment" *ngIf="compensation" (ngSubmit)="saveCompensation(compensationForm)"
      #compensationForm="ngForm">
  <section class="row align-center">
    <div class="small-12 medium-2 column">
      <label>
        <span class="currency">{{group.currency}}</span>
        <input type="number" placeholder="0.00" name="amount" required
               [ngClass]="{'error': compensation.amountDecimal <= 0}"
               value="{{compensation.amountDecimal|amountFormat}}"
               (keyup)="onTotalAmountChanged($event.target.value)">
      </label>
    </div>
    <div class="small-12 medium-3 column">
      <label>from
        <select (change)="onPayerChanged($event.target.value)">
          <option *ngFor="let p of group.people" value="{{p.id}}"
                  [selected]="p.id == compensation.payer.id">
            {{p.name}}
          </option>
        </select>
      </label>
    </div>
  </section>

  <section class="row align-center">

    <ng-container *ngFor="let p of group.people">
      <div class="small-12 medium-2 column"
           (click)="toggleIsInvolved(p)" *ngIf="p.id != compensation.payer.id;">
        <div name="person" class="card person row"
             [ngClass]="{'disabled': p.id != compensation.profiteer.id}">
          <h3 class="name small-12">{{p.name}}</h3>
          <span class="currency small-12">{{group.currency }}</span>
          <input class="value small-12" type="number"
                 value="{{p.id == compensation.profiteer.id ?
                 (compensation.amountDecimal|amountFormat) : 0}}" disabled>
        </div>
      </div>
    </ng-container>
  </section>

  <section class="row align-center" *ngIf="response">
    <span class="error align-center">{{response}}</span>
  </section>

  <section class="row align-center">
    <div class="small-12 medium-4 column">
      <button class="big" [disabled]="compensationForm.invalid || !compensation.isValid()">Save
        Compensation
      </button>
    </div>
  </section>
</form>
