<form class="payment" *ngIf="expense" (ngSubmit)="saveExpense(expenseForm)" #expenseForm="ngForm">
  <section class="row align-center">
    <div class="small-12 medium-2 column">
      <label>
        <span class="currency">{{group.currency}}</span>
        <input type="number" placeholder="0.00" name="amount" required min="0"
               [ngClass]="{'error': expense.amountDecimal <= 0}"
               value="{{expense.amountDecimal|amountFormat}}" (keyup)="onTotalAmountChanged($event.target.value)">
      </label>
    </div>
    <div class="small-12 medium-3 column">
      <label>from
        <select (change)="onPayerChanged($event.target.value)">
          <option *ngFor="let p of group.people" value="{{p.id}}" [selected]="p.id == expense.payer.id">
            {{p.name}}
          </option>
        </select>
      </label>
    </div>

    <div class="small-12 medium-3 column">
      <label>for
        <input type="text" placeholder="e.g. Bananas" required name="title"
               [(ngModel)]="expense.title" #title="ngModel"
               [ngClass]="{'error': title.errors?.required}">
      </label>
    </div>
  </section>

  <section class="row align-center">

    <div class="small-12 medium-2 column" *ngFor="let p of expense?.profiteers" (click)="toggleIsInvolved($event, p)">
      <div name="person" class="card person row" [ngClass]="{'disabled': !p.isInvolved}">
        <h3 class="name small-12">{{p.person.name}}</h3>
        <span class="currency small-12">{{group.currency }}</span>
        <input class="value small-12" type="number" value="{{p.shareDecimal|amountFormat}}" [disabled]="!p.isInvolved"
               (click)="$event.stopPropagation()" (keyup)="onSharedAmountChanged($event.target.value, p)">
        <span class="description"><input value="33" [disabled]="!p.isInvolved" (click)="$event.stopPropagation()">
          % of payment
        </span>
      </div>
    </div>
  </section>

  <section class="row align-center" *ngIf="response">
    <span class="error align-center">{{response}}</span>
  </section>

  <section class="row align-center">
    <div class="small-12 medium-4 column">
      <button class="big" [disabled]="expenseForm.invalid || !expense.isValid()">Save Expense</button>
    </div>
  </section>
</form>
