<header class="row align-bottom">
  <div class="small-12 large-4 column header-container" routerLink="/groups/{{currentGroup.id}}">
    <img class="logo" src="assets/logo.svg" alt="Logo Teiler.io">
    <h1 class="title">Teiler.io</h1>
  </div>
  <div class="content small-12 large-8 column">
    <div class="row">
      <nav class="main column">
        <div>
          <ul>
            <li *ngFor="let g of recentGroups" [ngClass]="{'active': g.id === currentGroup.id}">
              <a routerLink="/groups/{{g.id}}">{{g.name}}</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="shrink column">
        <a (click)="edit()">
          <img src="assets/settings.svg">
        </a>
        <a (click)="logout()">
          <img src="assets/logout.svg">
        </a>
      </div>
    </div>
  </div>
</header>
