@import '~sass/app.settings';
@import '~foundation-sites/scss/foundation';

*:focus {
  outline: none;
}

header {
  margin-top: 2em;
  @include breakpoint(medium up) {
    margin-top: 4em;
  }

  margin-bottom: 3em;

  .logo{
    height: 3em;
  }

  .title {
    display: inline-block;
    vertical-align: bottom;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0;
  }

  .header-container {
    @include breakpoint(small only) {
      margin-bottom: 1em;
    }
  }

  nav {

    ul {
      text-align: left;
      margin: 0;

      @include breakpoint(medium) {
        text-align: right;
      }

      li {
        display: inline;
        margin-right: 1.5em;



        a {
          color: $tylr-text-color-light;
        }

        &.active {
          a {
            color: $tylr-text-color;
          }
        }
      }
    }
  }
}

