<header>
  <svg class="logo"></svg>
  <h1>Dashboard</h1>
  <nav class="main">
    <ul>
      <li>Ferien</li>
      <li>WG</li>
      <li>Stuium</li>
    </ul>
  </nav>
  <nav class="user">
    <svg class="user"></svg>
    <ul>
      <li>Demian</li>
      <li>Edit</li>
      <li>Logout</li>
    </ul>
  </nav>
</header>

<section class="overview">
  <h2>Overview</h2>

  <button class="button">Save</button>
</section>

<section class="payments">
  <h2>Last Payments</h2>
</section>

<p>
  Test
</p>

<footer>
  <p>Footer</p>
</footer>
