<form class="payment">
  <section class="row align-center">
    <div class="small-12 medium-2 column">
      <label>CHF
        <input type="number" placeholder="0.00" required></label>
    </div>

    <div class="small-12 medium-3 column">
      <label>from
        <select>
          <option value="1">Demian</option>
          <option value="2">Patrick</option>
        </select>
      </label>
    </div>

    <div class="small-12 medium-3 column">
      <label>for
        <input type="text" placeholder="e.g. Bananas" required>
      </label>
    </div>
  </section>

  <section class="row align-center">
    <div class="small-12 medium-2 column">
      <div name="person" class="card person row">
        <h3 class="name small-12">Demian</h3>
        <span class="currency small-12">CHF</span>
        <input class="value small-12" type="number" value="3.34">
        <span class="description"><input value="33">% of payment</span>
      </div>
    </div>

    <div class="small-12 medium-2 column">
      <div name="person" class="card person row">
        <h3 class="name small-12">Kirthi</h3>
        <span class="currency small-12">CHF</span>
        <input class="value small-12" type="number" value="3.33">
        <span class="description"><input value="33">% of payment</span>
      </div>
    </div>

    <div class="small-12 medium-2 column">
      <div name="person" class="card person row">
        <h3 class="name small-12">Patrick</h3>
        <span class="currency small-12">CHF</span>
        <input class="value small-12" type="number" value="3.33">
        <span class="description"><input value="33">% of payment</span>
      </div>
    </div>

    <div class="small-12 medium-2 column">
      <div name="person" class="card person disabled row">
        <h3 class="name small-12">Lukas</h3>
        <span class="currency small-12">CHF</span>
        <input class="value small-12" type="number" value="0.00">
        <span class="description"><input value="0">% of payment</span>
      </div>
    </div>
  </section>

  <section class="row align-center">
    <div class="small-12 medium-4 column">
      <button class="big">Add Expense</button>
    </div>
  </section>
</form>

<tylr-footer></tylr-footer>
