<div class="row">
  <section class="overview small-12 xlarge-8 column">
    <h2 class="small-12">{{group?.name}} Overview <a href=""><img src="assets/share.svg"></a></h2>

    <div *ngIf="group; else nullGroupBlock">

      <ng-template #emptyPeopleBlock>
        <p>
          Sad! You don't have any group members. Let's add some:
        </p>

        <a routerLink="edit" class="row" [queryParams]="{action: 'add'}">
          <div class="small-12 medium-4 column">
            <div class="card add">
              <div class="row">
                <span class="symbol small-12 column">+</span>
                <span class="description small-12 column">Add Person</span>
              </div>
            </div>
          </div>
        </a>
      </ng-template>

      <div class="row" *ngIf="debts.length; else emptyPeopleBlock">
        <div class="small-12 medium-6 large-4 column" *ngFor="let debt of debts"
             (click)="onPersonSelected(debt.person)">
          <div name="person" class="card person"
               [ngClass]="{'active': debt.person.id == selectedPerson?.id,
                           'negative': debt.balance < 0}">
            <div class="row">
              <h3 class="name small-12 column">{{debt.person.name}}</h3>
              <span class="currency small-2 column">{{group.currency}}</span>
              <span class="value small-10 column">{{debt.balanceDecimal | amountFormat}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-4 large-3 column"
           routerLink="expenses/create" [queryParams]="{payerId: selectedPerson?.id}">
        <button [disabled]="this.group.people.length < 2">Add Expense</button>
      </div>
      <div class="small-12 medium-4 large-3 column"
           routerLink="compensations/create" [queryParams]="{payerId: selectedPerson?.id}">
        <button [disabled]="this.group.people.length < 2">Add Compensation</button>
      </div>
      <div class="small-12 medium-4 large-3 column" routerLink="suggest-payments">
        <button class="secondary" [disabled]="this.transactions.length < 1">Suggest Payments
        </button>
      </div>
    </div>

    <ng-template #nullGroupBlock>
      Group Loading
    </ng-template>
  </section>

  <section class="last-transactions small-12 large-8 xlarge-4 column">
    <h2 class="small-12">Last Transactions</h2>
    <div class="card secondary">
      <table>
        <thead>
        <tr>
          <td>Time</td>
          <td>Amount</td>
          <td>Description</td>
          <td></td>
          <td></td>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let t of transactions">
          <td>{{t.modifiedTime | date:'H:mm'}}</td>
          <td>
            <span class="currency">{{group.currency}}</span>
            {{t.amountDecimal | number:'2.2-2'}}
          </td>
          <td>{{t.title ? t.title : "Compensation"}}</td>
          <td>
            <a class="small-1" [routerLink]="getTransactionEditLink(t)">
              <img src="assets/edit.svg">
            </a>
          </td>
          <td>
            <a class="small-1" (click)="deleteTransaction(t)">
              <img src="assets/cancel.svg">
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
